html {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #121519;
  height: 100vh;
}

input{box-sizing:border-box}

button {
  cursor: pointer;
}

.mainLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}