html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #121519;
  color: white;
  height: 100vh;
}

input{box-sizing:border-box}

.mainLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}