.layout {
  display: grid;
  grid-template-columns: auto 4fr;
  overflow: hidden;
  height: 100%;
}

.sideBar {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  border-right: 1px solid #607D8B;
  overflow-y: hidden;
}
