.downBtn {
  grid-row: 3;
  background-color: #121519;
  border: 1px solid #607D8B;
  position: fixed;
  width: 50vw;
  height: 50vw;
  left: 30%;
  border-radius: 50%;
  top: 100%;
  transform: translateY(-6vw);
  padding-bottom: 44%;

  &__icon {
    color: #607D8B;
    font-size: 40px;
  }
}

.downBtn:hover {
  background-color: rgba(96, 125, 139, 0.1);
}

.downBtn:focus {
  outline: 0;
  border-color: #00ccff;
  box-shadow: 0 0 0 1px #00ccff;
}