.form {
  border-bottom: 1px solid #607D8B;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  &__buttons {
    display: flex;
  }

  &__addBtn {
    border: none;
    background-color: #1c465a;
    color: white;
    padding: 10px;
    border-radius: 2px;
    transition: all 0.4s;
    margin-right: 10px;

  }

  &__addBtn:hover {
    background-color: #327fa3;
  }

  &__removeBtn {
    border: none;
    background-color: #941010;
    color: white;
    padding: 10px;
    border-radius: 2px;
    transition: all 0.4s;
  }

  &__removeBtn:hover {
    background-color: #c91515;
  }
}

.ap-input {
  background-color: rgba(96, 125, 139, 0.141);
  color: lightgrey;
  border: none;
}

.ap-input::placeholder {
  color: lightgrey;
}

.ap-input {
  transition: padding .2s ease-in;
}

.ap-input:focus {
  padding-right: 150px;
}