.place {
  grid-column: span 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding-left: 30px;

  &__city {
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
  }

  &__country {
    font-size: 28px;
    font-weight: 100;
    margin-top: 5px;
    letter-spacing: 2px;
    padding: 0;
  }

  &__icon {
    font-size: 25px;
  }
}