.weatherLayout {
  align-self: center;
  justify-self: center;
  width: 95%;
  padding: 0;
  margin: 0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  color: white;
}

.noLocation {
  align-self: center;
  justify-self: center;
  font-size: 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.icon {
  padding-bottom: 10px;
}

